#friendsall{
  display:grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #E6E6E6;
  padding: 10px;
}

#sfriendsall {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #E6E6E6;
  padding: 10px;
}

.friends{
  height:200px;
  background-color: #FFFFFF;
  /* border:5px solid #E6E6E6;; */
  text-align:center;
  padding:10px;
}

#friendsall input{
  width: 100px;
  height: 100px;
}

#sfriendsall input{
  width: 100px;
  height: 100px;
}
.modal-body img{
  width: 250px;
  height: 250px;
}

/* .sfriends {
  background-color: #FFA500;
  border: 5px solid #FFA500; */
  /* padding: 10px; */
  /* font-size: 30px;
  text-align: center;
} */

.friendsbar{
  padding-top: 50px;
}
