@font-face{
    font-family: newgothic;
    src: url(../News\ Gothic\ Condensed\ Bold.otf);
  }
  
  @font-face{
    font-family: SFUI;
    src: url(../SFUI.ttf);
  }
  @font-face{
    font-family: SFH;
    src: url(../SFH.otf);
  }
  @font-face{
    font-family: SFSB;
    src: url(../SFSB.otf);
  }
  
body{
    margin: 0px;
}
/* style so search and share are positioned correctly*/
#searchshare{

    height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
/*align share button to center*/
#share{
    align-self: center;

}

.button{
    width: 153px;
    height: 51px;
}

.button1{
    font-family: newgothic;
    font-size: 20px;
    background-color: white;
    border: 2px solid #67CEF6;
    color:#67CEF6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.panel-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}
/*nav bar css*/
footer{

    /* background: linear-gradient(180deg,rgba(103,206,246,0.8), rgba(0,131,183,0.8)); */
    background: white;
    border-top: 2px solid #67CEF6;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align:center;
}

footer a{
    display: inline-block;
    /* background-color: blue; */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
footer a.active-page{
    /* background-color: rgb(173,232,255); */
    background: linear-gradient(180deg,rgba(103,206,246,0.5), rgba(0,131,183,0.5));
}

footer img{
    width: 35px;
    height: 35px;
}
/*personal profile image top left*/
#myProfile img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: fixed;
    top: 5px;
    z-index:1;
    left: 8px;
    border: 2px solid #67CEF6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#messages img{
    position: fixed;
    top: 3px;
    z-index:1;
    right: 3px;
}


#pguo h5, #ed h5, #arnold h5, #result h5{
    font-family:newgothic;
    text-transform: uppercase;
}

#pguo p, #ed p, #arnold p, #result p{
    font-family: SFSB;
}
#newsfeed div{
    position:relative;
}

#newsfeed h5{
    position: relative;
    display: inline;
    padding-left: 10px;
    top: -5px;
}

#result h5{
    position: relative;
    display: inline;
    padding-left: 10px;
    top: -5px;
}


#arnold p{
    font-size: 15px;
    padding-left: 50px;
}

#pguo p{
    font-size: 15px;
    padding-left: 50px;
}

#ed p{
    font-size: 15px;
    padding-left: 50px;
}

#post p{
  font-size: 15px;
  padding-left:50px;
}

#ed video{
    display: block;
    margin: 0 auto;
}


.arn2{
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

#result .roy{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

#result .cl{
    display: inline-block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 25px;
    height: 25px;
}

/* button {
    background-color: white;
}

button #like:hover{
    background-color: red;
}

button #comment:hover{
    background-color: blue;
}
button img:visited{
    background-color: rgb(255, 124, 124);
} */

#newsfeed #profile{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}


#newsfeed button{
    display: inline-block;
}

#newsfeed .likeb{
    position: absolute;
    left: 25%;
}

#newsfeed #comm{
    position: absolute;
    right: 25%;
}
#newsfeed #like{
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 25px;
    height: 25px;
}

#newsfeed #comment{
    position: absolute;
    right: 25%;
    bottom: 0;
    width: 25px;
    height: 25px;
}

#result button{
    display: inline-block;
}


#result #comm{
    position: absolute;
    right: 25%;
}


#result #comment{
    position: absolute;
    right: 25%;
    bottom: 0;
    width: 25px;
    height: 25px;
}
