@font-face{
    font-family: newgothic;
    src: url(../News\ Gothic\ Condensed\ Bold.otf);
}

@font-face{
    font-family: SFUI;
    src: url(../SFUI.ttf);
}
@font-face{
    font-family: SFH;
    src: url(../SFH.otf);
}
@font-face{
    font-family: SFSB;
    src: url(../SFSB.otf);
}
#signin{
    margin: auto;
    width: 80%;
}
#logo{
    height: 293px;
    width: 293px;
    align-content: center;
}
label{
    font-family: SFSB;
    font-size: 19px;
}

#login{
    position: fixed;
    top: 45%;
    left: 3%;
}
#username, #pwd{
    width: 351px;
}

#loginWrapper{
    text-align: center;
}

#loginbtn{
    font-family: SFSB;
    font-size: 19px;
    display: inline-block;
    width: 142px;
}

#signup{
    position: fixed;
    bottom: 0;
    left: 55px;
}

#signupbtn{
    font-family: SFH;
    font-size: 25px;
    color: #67CEF6;
}
h2{
    font-family:SFSB;
    font-size: 25px;
}