@font-face{
    font-family: newgothic;
    src: url(../News\ Gothic\ Condensed\ Bold.otf);
  }
  
  @font-face{
    font-family: SFUI;
    src: url(../SFUI.ttf);
  }
  @font-face{
    font-family: SFH;
    src: url(../SFH.otf);
  }
  @font-face{
    font-family: SFSB;
    src: url(../SFSB.otf);
  }

#heading{
    padding-top: 50px;
}

#heading h2, #heading a{
    font-family: newgothic;
}

.panel-body{
    font-family:SFSB;
}

#logout h1{
    font-family: newgothic;
    color: red;
}